body {
	background-color: indigo;
	font-size: 28px;
}

/*
Lines 1 - 6 (body {...}) => rule
`body` in line 1 => selector
Line 2 (`background-color: indigo;`) => declaration
A single declaration is a key-value pair
*/

h1 {
	text-align: center;
	color: yellow;
}

p {
	margin-left: 10%;
	font-size: 8px;
	padding: 50px;
	background-color: green;
}
