

	body {
    	background-color: lightgreen;
		}

	h1{
		text-align: center;
		color: darkgreen;

	}
	h2{
		text-align: center;
		color: darkgreen;

	}
	h3{
		text-align: center;
		color: darkgreen;

	}
	h4{
		text-align: center;
		color: darkgreen;

	}

	img {
		display: block;
    	margin: auto;
    	width: 40%;

	}

	p{
		margin-left: 10%;
		margin-right: 10%;
		padding: 15px;
		font-size: 22px;
		font-weight: bold;

	}
	p.italic {
    font-style: italic;
	}

	ul{
		margin-left: 10%;
		margin-right: 10%;
		padding: 20px;
		font-size: 22px;
		font-weight: bold;
		line-height: 110%;
	}
	ul li{
  		margin-bottom: 5px;
	}
	.signoff {
		font-style: oblique;
		font-family: serif;
	}
