@media all
{

	body {
    	background-color: lightgreen;
		}

	header {
		div {
    		border: 1px solid darkgreen;
    		padding: 10px;
    		width: 200px;
    		height: 200px;
    		text-align: center;
		}
	header.center {text-align: center;}
	h1.center {text-align: center;}

	img {
		height: 200px;
		width: 200px;

	}
	}
}
